<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wego.web.garam.BugsMapper">
<insert id="insertMusic" parameterType="com.wego.web.garam.Bugs">
insert into music (artist, title) values ( #{artist},#{titles})

</insert>
<select id="countMusic" resultType = "String">
select count(*) from music
</select>
</mapper>
